NiMH_charger_RD6006.json
[
    {
        "id": "a6941e78.e5a6b",
        "type": "tab",
        "label": "NiMH Battery Charger",
        "disabled": false,
        "info": ""
    },
    {
        "id": "eb00b8be.a10588",
        "type": "config",
        "z": "a6941e78.e5a6b",
        "name": "SLOW config",
        "properties": [
            {
                "p": "vset",
                "pt": "flow",
                "to": "147",
                "tot": "num"
            },
            {
                "p": "tmax",
                "pt": "flow",
                "to": "40",
                "tot": "num"
            },
            {
                "p": "smart",
                "pt": "flow",
                "to": "0",
                "tot": "num"
            },
            {
                "p": "timemax",
                "pt": "flow",
                "to": "14400",
                "tot": "num"
            }
        ],
        "active": true,
        "x": 550,
        "y": 80,
        "wires": []
    },
    {
        "id": "cf633188.0fa35",
        "type": "inject",
        "z": "a6941e78.e5a6b",
        "name": "Polling data",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "2",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "x": 130,
        "y": 300,
        "wires": [
            [
                "d0f9df67.29c5a"
            ]
        ]
    },
    {
        "id": "d0f9df67.29c5a",
        "type": "function",
        "z": "a6941e78.e5a6b",
        "name": "FC3: get RT registers B",
        "func": "msg.payload = { 'fc': 3, 'unitid': 1, 'address':8, 'quantity': 11 }\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 370,
        "y": 360,
        "wires": [
            [
                "29dec06d.5e642"
            ]
        ]
    },
    {
        "id": "29dec06d.5e642",
        "type": "modbus-flex-getter",
        "z": "a6941e78.e5a6b",
        "name": "",
        "showStatusActivities": false,
        "showErrors": false,
        "logIOActivities": false,
        "server": "2b92a888.1890a8",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "x": 610,
        "y": 360,
        "wires": [
            [
                "1b1661c5.46ee3e"
            ],
            [
                "e9832b92.c9ac08"
            ]
        ]
    },
    {
        "id": "1b1661c5.46ee3e",
        "type": "function",
        "z": "a6941e78.e5a6b",
        "name": "Save RT data",
        "func": "flow.set(\"abatt\", msg.payload[3]/1000);\nvar e = flow.get(\"error\");\nflow.set(\"error\", (e | msg.payload[8]));\nflow.set(\"onoff\", msg.payload[10]);\n",
        "outputs": 0,
        "noerr": 0,
        "x": 840,
        "y": 340,
        "wires": []
    },
    {
        "id": "e9832b92.c9ac08",
        "type": "function",
        "z": "a6941e78.e5a6b",
        "name": "FC3: get RT registers A",
        "func": "msg.payload = { 'fc': 3, 'unitid': 1, 'address':32, 'quantity': 8 }\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 370,
        "y": 260,
        "wires": [
            [
                "549e1a1f.6111c4"
            ]
        ]
    },
    {
        "id": "549e1a1f.6111c4",
        "type": "modbus-flex-getter",
        "z": "a6941e78.e5a6b",
        "name": "",
        "showStatusActivities": false,
        "showErrors": false,
        "logIOActivities": false,
        "server": "2b92a888.1890a8",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "x": 610,
        "y": 260,
        "wires": [
            [
                "5063a9db.ad29e8"
            ],
            []
        ]
    },
    {
        "id": "5063a9db.ad29e8",
        "type": "function",
        "z": "a6941e78.e5a6b",
        "name": "Save RT data",
        "func": "flow.set(\"bmode\", msg.payload[0]);\nvar vbx = 0;\nif ( flow.get(\"smart\") === 0){\n vbx = msg.payload[1];\n}\nelse {\n vbx =  msg.payload[1] - (flow.get(\"abatt\")*flow.get(\"ri\"))/10;\n}      \nflow.set(\"vbatt\", vbx/100);\nflow.set(\"tbatt\", msg.payload[3]);\nvar tmp =(msg.payload[6]*65536 + msg.payload[7])/1000;\nflow.set(\"ahbatt\", tmp - flow.get(\"startah\"));\n\nmsg.payload = [\"vb, v, ri, O\", msg.payload[1], vbx, flow.get(\"ri\"), flow.get(\"abatt\")   ];\nreturn msg; ",
        "outputs": 1,
        "noerr": 0,
        "x": 840,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "8674275.0484ed8",
        "type": "function",
        "z": "a6941e78.e5a6b",
        "name": "Format RT data",
        "func": "var tmp =flow.get(\"vbatt\");\nvar msg1 = { payload: tmp.toFixed(2), topic: ' V'};\nvar tmp =flow.get(\"abatt\");\nvar msg2 = { payload: tmp.toFixed(3), topic: ' A'};\nvar tmp =flow.get(\"ahbatt\");\nvar msg3 = { payload: tmp.toFixed(3), topic: ' Ah'};\nvar msg4 = { payload: flow.get(\"tbatt\"), topic: ' °C'};\nreturn ([msg1, msg2, msg3, msg4]);\n",
        "outputs": 4,
        "noerr": 0,
        "x": 540,
        "y": 520,
        "wires": [
            [
                "fd22b99d.08aa88"
            ],
            [
                "dc7608e6.31f5b8"
            ],
            [
                "4360492f.9f72b8"
            ],
            [
                "70c00fe0.3b43"
            ]
        ]
    },
    {
        "id": "dc7608e6.31f5b8",
        "type": "ui_text",
        "z": "a6941e78.e5a6b",
        "group": "3b92f60b.0be03a",
        "order": 3,
        "width": "4",
        "height": "1",
        "name": "I",
        "label": "",
        "format": "<font color =PALETURQUOISE size=6>{{msg.payload}} {{msg.topic}}</font>",
        "layout": "row-right",
        "x": 890,
        "y": 520,
        "wires": []
    },
    {
        "id": "4360492f.9f72b8",
        "type": "ui_text",
        "z": "a6941e78.e5a6b",
        "group": "3b92f60b.0be03a",
        "order": 2,
        "width": "4",
        "height": "1",
        "name": "Ah",
        "label": "",
        "format": "<font color =KHAKI size=6>{{msg.payload}} {{msg.topic}}</font>",
        "layout": "row-right",
        "x": 890,
        "y": 560,
        "wires": []
    },
    {
        "id": "70c00fe0.3b43",
        "type": "ui_text",
        "z": "a6941e78.e5a6b",
        "group": "3b92f60b.0be03a",
        "order": 4,
        "width": "4",
        "height": "1",
        "name": "T",
        "label": "",
        "format": "<font color =PINK size=6>{{msg.payload}} {{msg.topic}}</font>",
        "layout": "row-right",
        "x": 890,
        "y": 600,
        "wires": []
    },
    {
        "id": "fd22b99d.08aa88",
        "type": "ui_text",
        "z": "a6941e78.e5a6b",
        "group": "3b92f60b.0be03a",
        "order": 1,
        "width": "4",
        "height": "1",
        "name": "V",
        "label": "",
        "format": "<font color =LAWNGREEN size=6>{{msg.payload}} {{msg.topic}}</font>",
        "layout": "row-right",
        "x": 890,
        "y": 480,
        "wires": []
    },
    {
        "id": "e32dcdc.ea4c73",
        "type": "comment",
        "z": "a6941e78.e5a6b",
        "name": "Loop RT data read",
        "info": "gets RT data from RD6006 and store it in following\nflow variables:\nvbatt  - for Vout\nabatt  - for Iout\ntbatt  - for Temperature\nahbatt - for Ah capacity\nerror  - for errorcode\nonoff  - for out switch ",
        "x": 110,
        "y": 220,
        "wires": []
    },
    {
        "id": "89cd8b44.496388",
        "type": "inject",
        "z": "a6941e78.e5a6b",
        "name": "GUI refresh",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "2",
        "crontab": "",
        "once": true,
        "onceDelay": "2.8",
        "x": 130,
        "y": 540,
        "wires": [
            [
                "8674275.0484ed8",
                "da286519.40ff18",
                "b4cf0442.c1f578",
                "bd96c6b8.2b96e8"
            ]
        ]
    },
    {
        "id": "6ece52ed.2265bc",
        "type": "ui_chart",
        "z": "a6941e78.e5a6b",
        "name": "charge chart",
        "group": "ae99da26.9b2e78",
        "order": 5,
        "width": "8",
        "height": "5",
        "label": "NiMH Battery charge ",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm",
        "interpolate": "linear",
        "nodata": "waiting start",
        "dot": false,
        "ymin": "0",
        "ymax": "5",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#80ff00",
            "#aec7e8",
            "#e1e100",
            "#ff80ff",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "outputs": 1,
        "x": 870,
        "y": 660,
        "wires": [
            []
        ],
        "inputLabels": [
            "4"
        ]
    },
    {
        "id": "fad9e97a.30cc78",
        "type": "inject",
        "z": "a6941e78.e5a6b",
        "name": "manual reset chart",
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "0.2",
        "x": 410,
        "y": 700,
        "wires": [
            [
                "9479c711.46cfe8"
            ]
        ]
    },
    {
        "id": "9479c711.46cfe8",
        "type": "function",
        "z": "a6941e78.e5a6b",
        "name": "reset chart msg",
        "func": "msg.payload = [];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 680,
        "y": 720,
        "wires": [
            [
                "6ece52ed.2265bc"
            ]
        ]
    },
    {
        "id": "4dc5c201.d22f8c",
        "type": "ui_button",
        "z": "a6941e78.e5a6b",
        "name": "",
        "group": "89f6f9eb.df45b8",
        "order": 2,
        "width": "3",
        "height": "2",
        "passthru": false,
        "label": "{{msg.topic}}",
        "tooltip": "",
        "color": "",
        "bgcolor": "{{msg.background}}",
        "icon": "",
        "payload": "click",
        "payloadType": "str",
        "topic": "",
        "x": 450,
        "y": 800,
        "wires": [
            [
                "6b8a66e7.5d6518"
            ]
        ]
    },
    {
        "id": "719424fe.3f25fc",
        "type": "ui_text_input",
        "z": "a6941e78.e5a6b",
        "name": "",
        "label": "Capacity",
        "tooltip": "",
        "group": "89f6f9eb.df45b8",
        "order": 3,
        "width": "2",
        "height": "1",
        "passthru": true,
        "mode": "number",
        "delay": "0",
        "topic": "",
        "x": 260,
        "y": 960,
        "wires": [
            [
                "822d9e30.4da77"
            ]
        ]
    },
    {
        "id": "9ffb5f1b.6efed",
        "type": "ui_text_input",
        "z": "a6941e78.e5a6b",
        "name": "",
        "label": "Battery type",
        "tooltip": "infos about the battery",
        "group": "89f6f9eb.df45b8",
        "order": 1,
        "width": "5",
        "height": "1",
        "passthru": false,
        "mode": "text",
        "delay": "0",
        "topic": "",
        "x": 270,
        "y": 1080,
        "wires": [
            [
                "17456d58.abcff3"
            ]
        ]
    },
    {
        "id": "cb7c8397.ac97f",
        "type": "ui_dropdown",
        "z": "a6941e78.e5a6b",
        "name": "",
        "label": "Iset",
        "tooltip": "",
        "place": "Select option",
        "group": "89f6f9eb.df45b8",
        "order": 4,
        "width": "3",
        "height": "1",
        "passthru": true,
        "options": [
            {
                "label": "0.1 C",
                "value": 0.1,
                "type": "num"
            },
            {
                "label": "0.2 C",
                "value": "0.2",
                "type": "str"
            },
            {
                "label": "0.5 C",
                "value": "0.5",
                "type": "str"
            },
            {
                "label": "0.8 C",
                "value": "0.8",
                "type": "str"
            },
            {
                "label": "1.0 C",
                "value": "1",
                "type": "str"
            },
            {
                "label": "1,1 C",
                "value": "1.1",
                "type": "str"
            },
            {
                "label": "1,2 C",
                "value": "1,2",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "",
        "x": 250,
        "y": 1020,
        "wires": [
            [
                "e43dfa65.6d0548"
            ]
        ]
    },
    {
        "id": "e981fa5.1942508",
        "type": "comment",
        "z": "a6941e78.e5a6b",
        "name": "NiMH Battery Charger",
        "info": "This ***node-red*** application uses **RD6006** to get a full feauturd NiMH battery charger.\n\nThe input data are the *battery capacity* [mAh] and the required max *charge current*, as function of the capacity.\nThe measured data are:\n\n- Battery tension \n- Battery current\n- Battery temperature\n- Battery charge\n- Elapsed time\n\nOn screen, are shoved data in numeric format and as graph.\nThe charge is done to constant current from 0.1C to 1.2C, user defined.\nThe end of charge is triggered by one of following events:\n\n- Max charge exceeded\n- Max time exceeded\n- Max temperature exceeded\n- Max tension top reached \n\nAll data are also stored in a mySQL database.",
        "x": 120,
        "y": 40,
        "wires": []
    },
    {
        "id": "6b8a66e7.5d6518",
        "type": "function",
        "z": "a6941e78.e5a6b",
        "name": "toggle",
        "func": "if (( msg.payload == \"click\") && (flow.get(\"run\")) == 0){\n    flow.set(\"run\",1) ;\n    msg.payload = 1;\n    return msg;\n} \nflow.set(\"run\", 0) ;\nmsg.payload = 0;\nif (flow.get(\"error\") == 0) {\n    flow.set(\"error\", 128) ;\n    }\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 270,
        "y": 880,
        "wires": [
            [
                "fcf96f0b.59d63",
                "b4cf0442.c1f578"
            ]
        ]
    },
    {
        "id": "92ac7003.25202",
        "type": "inject",
        "z": "a6941e78.e5a6b",
        "name": "",
        "topic": "",
        "payload": "FAST",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "0.32",
        "x": 110,
        "y": 100,
        "wires": [
            [
                "7700ceb5.551eb"
            ]
        ]
    },
    {
        "id": "fcf96f0b.59d63",
        "type": "switch",
        "z": "a6941e78.e5a6b",
        "name": "start / stop msg",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 440,
        "y": 900,
        "wires": [
            [
                "9479c711.46cfe8",
                "d8b1bc27.60a0b",
                "4bda794a.60b158"
            ],
            [
                "4d337e37.2255b"
            ]
        ]
    },
    {
        "id": "822d9e30.4da77",
        "type": "function",
        "z": "a6941e78.e5a6b",
        "name": "store",
        "func": "flow.set(\"bcap\", msg.payload);\nvar tmp =(msg.payload * flow.get(\"icap\"));\nflow.set(\"iset\", tmp);\nmsg.payload =  tmp ;\n",
        "outputs": 0,
        "noerr": 0,
        "x": 450,
        "y": 960,
        "wires": []
    },
    {
        "id": "e43dfa65.6d0548",
        "type": "function",
        "z": "a6941e78.e5a6b",
        "name": "store",
        "func": "flow.set(\"icap\", msg.payload);\nvar tmp =(msg.payload * flow.get(\"bcap\"));\nflow.set(\"iset\", tmp);\nmsg.payload =  tmp;\n",
        "outputs": 0,
        "noerr": 0,
        "x": 450,
        "y": 1020,
        "wires": []
    },
    {
        "id": "6fd5870c.e29938",
        "type": "comment",
        "z": "a6941e78.e5a6b",
        "name": "loop GUI refresh",
        "info": "1- updates values on screen\n2- updates chart (only running)\n3- formats status line",
        "x": 100,
        "y": 460,
        "wires": []
    },
    {
        "id": "b71957ee.5ed468",
        "type": "comment",
        "z": "a6941e78.e5a6b",
        "name": "GUI user commands",
        "info": "1- executes START/STOP comands\n2- stores user values on flow variables",
        "x": 110,
        "y": 740,
        "wires": []
    },
    {
        "id": "d8b1bc27.60a0b",
        "type": "function",
        "z": "a6941e78.e5a6b",
        "name": "reset start time, error",
        "func": "var tmp = Date.now();\nflow.set(\"starttime\", tmp);\nmsg.payload = tmp;\nflow.set(\"csec\",0);\nflow.set(\"cmin\",0);\nflow.set(\"error\",0);\n",
        "outputs": 0,
        "noerr": 0,
        "x": 760,
        "y": 840,
        "wires": []
    },
    {
        "id": "fd8856da.567148",
        "type": "function",
        "z": "a6941e78.e5a6b",
        "name": "runtime clock",
        "func": "\nvar esec = ((Date.now() - flow.get(\"starttime\"))/1000);\nif (flow.get(\"run\") === 0){\n    esec = flow.get(\"esect\");\n}\n    var tmin = (esec/60).toFixed(0);\n    var tsec = (esec % 60).toFixed(0);\n    flow.set(\"esect\", esec);\n    flow.set(\"cmin\", tmin);\n    flow.set(\"csec\", tsec);\n",
        "outputs": 0,
        "noerr": 0,
        "x": 330,
        "y": 160,
        "wires": []
    },
    {
        "id": "bd96c6b8.2b96e8",
        "type": "function",
        "z": "a6941e78.e5a6b",
        "name": "status message",
        "func": "var messg = flow.get(\"cmin\") + \":\"+ flow.get(\"csec\");\nmessg += ' / '+(flow.get(\"timemax\")/60).toFixed(0);\nmessg += ':'+(flow.get(\"timemax\") % 60).toFixed(0);\nif (flow.get(\"run\")===0)\n messg += ' stopped';\nelse\n   messg += ' running';\nif ((flow.get(\"error\") & 1) == 1)\n   messg += ' OVP';\nif ((flow.get(\"error\") & 2) == 2)\n   messg += ' OCP';\nif ((flow.get(\"error\") & 4) == 4)\n   messg += ' by RD6006';\nif ((flow.get(\"error\") & 8) == 8)\n   messg += ' max Charge';\nif ((flow.get(\"error\") & 16) == 16)\n   messg += ' max Time';\nif ((flow.get(\"error\") & 32) == 32)\n   messg += ' max Temperature';\nif ((flow.get(\"error\") & 64) == 64)\n   messg += ' pic V';\nif ((flow.get(\"error\") & 128) == 128)\n   messg += ' by user';\nmsg.payload = messg;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 540,
        "y": 440,
        "wires": [
            [
                "565901af.bd74c"
            ]
        ]
    },
    {
        "id": "565901af.bd74c",
        "type": "ui_template",
        "z": "a6941e78.e5a6b",
        "group": "3b92f60b.0be03a",
        "name": "status line",
        "order": 5,
        "width": 0,
        "height": 0,
        "format": "<div style = \"border: medium solid #1E90FF;\n border-radius:10px; padding-left:8px; padding-bottom:6px\" ng-bind-html=\"msg.payload\"></div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "templateScope": "local",
        "x": 880,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "da286519.40ff18",
        "type": "function",
        "z": "a6941e78.e5a6b",
        "name": "Format chart data",
        "func": "if (flow.get(\"run\")== 1){\nvar msg1 = { payload: flow.get(\"vbatt\").toFixed(2), topic: ' V'};\nvar msg2 = { payload: flow.get(\"abatt\").toFixed(3), topic: ' A'};\nvar msg3 = { payload: flow.get(\"ahbatt\").toFixed(3), topic: ' Ah'};\nvar msg4 = { payload: flow.get(\"tbatt\")/10, topic: ' °C'};\nreturn([msg1, msg2, msg3, msg4]);\n}\nelse {\n   return([]); \n}\n// return ([msg1, msg2, msg3, msg4]);",
        "outputs": 4,
        "noerr": 0,
        "x": 550,
        "y": 600,
        "wires": [
            [
                "6ece52ed.2265bc"
            ],
            [
                "6ece52ed.2265bc"
            ],
            [
                "6ece52ed.2265bc"
            ],
            [
                "6ece52ed.2265bc"
            ]
        ]
    },
    {
        "id": "17456d58.abcff3",
        "type": "function",
        "z": "a6941e78.e5a6b",
        "name": "store",
        "func": "flow.set(\"btype\", msg.payload);\n",
        "outputs": 0,
        "noerr": 0,
        "x": 450,
        "y": 1080,
        "wires": []
    },
    {
        "id": "76d45016.5d1c3",
        "type": "comment",
        "z": "a6941e78.e5a6b",
        "name": "Test ends charge",
        "info": "Polling for end charge conditions",
        "x": 100,
        "y": 1600,
        "wires": []
    },
    {
        "id": "835bc7b0.255c38",
        "type": "modbus-flex-write",
        "z": "a6941e78.e5a6b",
        "name": "",
        "showStatusActivities": false,
        "showErrors": false,
        "server": "2b92a888.1890a8",
        "x": 1010,
        "y": 920,
        "wires": [
            [],
            [
                "f65a4907.e20058"
            ]
        ]
    },
    {
        "id": "4bda794a.60b158",
        "type": "function",
        "z": "a6941e78.e5a6b",
        "name": "FC16: writes Vset Iset",
        "func": "msg.payload = { 'value' : [flow.get('vset'), flow.get('iset') ], 'fc': 16, 'unitid': 1, 'address': 8, 'quantity': 2 };\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 760,
        "y": 920,
        "wires": [
            [
                "835bc7b0.255c38"
            ]
        ]
    },
    {
        "id": "af1ee534.61dbb8",
        "type": "modbus-flex-write",
        "z": "a6941e78.e5a6b",
        "name": "",
        "showStatusActivities": false,
        "showErrors": false,
        "server": "2b92a888.1890a8",
        "x": 1010,
        "y": 1040,
        "wires": [
            [],
            [
                "d1df0dd0.49e55"
            ]
        ]
    },
    {
        "id": "4451c58c.ecd9ec",
        "type": "function",
        "z": "a6941e78.e5a6b",
        "name": "FC 6:  set OUT ON",
        "func": "msg.payload = { 'value': 1, 'fc': 6, 'unitid': 1, 'address': 18 , 'quantity': 1 };\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 750,
        "y": 1040,
        "wires": [
            [
                "af1ee534.61dbb8"
            ]
        ]
    },
    {
        "id": "4d337e37.2255b",
        "type": "function",
        "z": "a6941e78.e5a6b",
        "name": "FC 6:  set OUT OFF",
        "func": "msg.payload = { 'value': 0, 'fc': 6, 'unitid': 1, 'address': 18 , 'quantity': 1 };\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 710,
        "y": 1600,
        "wires": [
            [
                "283f093b.9b2b06"
            ]
        ]
    },
    {
        "id": "b4cf0442.c1f578",
        "type": "function",
        "z": "a6941e78.e5a6b",
        "name": "button look",
        "func": "if (flow.get(\"run\") ==1) {\n    msg.background =\"TURQUOISE\";\n    msg.topic = \"STOP\";\n} else {\n    msg.background =\"LIME\";\n    msg.topic = \"START\";\n}\nmsg.enabled = flow.get(\"bmode\");\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 290,
        "y": 800,
        "wires": [
            [
                "4dc5c201.d22f8c"
            ]
        ]
    },
    {
        "id": "b94f90f9.31492",
        "type": "inject",
        "z": "a6941e78.e5a6b",
        "name": "test polling",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "3.38",
        "crontab": "",
        "once": true,
        "onceDelay": "4",
        "x": 150,
        "y": 1680,
        "wires": [
            [
                "ab8b3838.0bd978"
            ]
        ]
    },
    {
        "id": "ab8b3838.0bd978",
        "type": "function",
        "z": "a6941e78.e5a6b",
        "name": "test error conditions",
        "func": "var errors = 0;\nif (flow.get(\"run\")==1) {\n     errors = flow.get(\"error\");\n     if (flow.get(\"onoff\") === 0) \n        errors |= 4;\n    // if (flow.get(\"bmode\") === 0) \n    //    errors |= 4;\n     if (flow.get(\"ahbatt\") > flow.get(\"bcap\")) \n        errors |= 8;\n     if (flow.get(\"esect\") > flow.get(\"timemax\"))  \n        errors |= 16;\n     if (flow.get(\"tbatt\") > flow.get(\"tmax\"))  \n        errors |= 32;\n     var xv = flow.get(\"vbatt\");\n     if (xv >= flow.get(\"vpic\")){\n          flow.set(\"vpic\", vx);\n          flow.set(\"picn\", 0); \n          } else {\n          var pn =  flow.get(\"picn\");\n          if(pn > 3){\n                errors |= 64;\n              } else {\n                flow.set(\"picn\", +pn);   \n              }\n           } \n    flow.set(\"error\", errors);   \n    }\nmsg.payload = errors;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 370,
        "y": 1680,
        "wires": [
            [
                "5a8f797a.068358"
            ]
        ]
    },
    {
        "id": "5a8f797a.068358",
        "type": "switch",
        "z": "a6941e78.e5a6b",
        "name": "if any error",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            },
            {
                "t": "gt",
                "v": "0",
                "vt": "num"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 570,
        "y": 1680,
        "wires": [
            [],
            [
                "974bb0e9.1fc64"
            ]
        ]
    },
    {
        "id": "974bb0e9.1fc64",
        "type": "function",
        "z": "a6941e78.e5a6b",
        "name": "RUN OFF",
        "func": "flow.set(\"run\", 0);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 500,
        "y": 1600,
        "wires": [
            [
                "4d337e37.2255b"
            ]
        ]
    },
    {
        "id": "e821c2b3.9658a",
        "type": "status",
        "z": "a6941e78.e5a6b",
        "name": "",
        "scope": null,
        "x": 120,
        "y": 1760,
        "wires": [
            []
        ]
    },
    {
        "id": "f65a4907.e20058",
        "type": "function",
        "z": "a6941e78.e5a6b",
        "name": "FC3: get ah ",
        "func": "msg.payload = { 'fc': 3, 'unitid': 1, 'address':38, 'quantity': 2 }\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 730,
        "y": 980,
        "wires": [
            [
                "e80a7490.f0d6c8"
            ]
        ]
    },
    {
        "id": "e80a7490.f0d6c8",
        "type": "modbus-flex-getter",
        "z": "a6941e78.e5a6b",
        "name": "",
        "showStatusActivities": false,
        "showErrors": false,
        "logIOActivities": false,
        "server": "2b92a888.1890a8",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "x": 1010,
        "y": 980,
        "wires": [
            [
                "4d4a80a6.e819c"
            ],
            [
                "4451c58c.ecd9ec"
            ]
        ]
    },
    {
        "id": "4d4a80a6.e819c",
        "type": "function",
        "z": "a6941e78.e5a6b",
        "name": "set ah offset",
        "func": "var tmp =(msg.payload[0]*65536 + msg.payload[1])/1000;\nflow.set(\"startah\", tmp);\n\n",
        "outputs": 0,
        "noerr": 0,
        "x": 1230,
        "y": 980,
        "wires": []
    },
    {
        "id": "c102809.389088",
        "type": "modbus-flex-write",
        "z": "a6941e78.e5a6b",
        "name": "",
        "showStatusActivities": false,
        "showErrors": false,
        "server": "2b92a888.1890a8",
        "x": 1010,
        "y": 1100,
        "wires": [
            [],
            [
                "cc380eb7.1732f"
            ]
        ]
    },
    {
        "id": "d1df0dd0.49e55",
        "type": "function",
        "z": "a6941e78.e5a6b",
        "name": "FC 6:  set  Iout1",
        "func": "msg.payload = { 'value': 100, 'fc': 6, 'unitid': 1, 'address': 9 , 'quantity': 1 };\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 740,
        "y": 1100,
        "wires": [
            [
                "c102809.389088"
            ]
        ]
    },
    {
        "id": "cc380eb7.1732f",
        "type": "delay",
        "z": "a6941e78.e5a6b",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 1220,
        "y": 1100,
        "wires": [
            [
                "19a67f16.f93131"
            ]
        ]
    },
    {
        "id": "19a67f16.f93131",
        "type": "function",
        "z": "a6941e78.e5a6b",
        "name": "FC3: get Vbatt1",
        "func": "msg.payload = { 'fc': 3, 'unitid': 1, 'address':33, 'quantity': 1 }\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 740,
        "y": 1160,
        "wires": [
            [
                "8249f5c4.746ed8"
            ]
        ]
    },
    {
        "id": "8249f5c4.746ed8",
        "type": "modbus-flex-getter",
        "z": "a6941e78.e5a6b",
        "name": "",
        "showStatusActivities": false,
        "showErrors": false,
        "logIOActivities": false,
        "server": "2b92a888.1890a8",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "x": 1010,
        "y": 1160,
        "wires": [
            [
                "ccf3ceae.6b1f8"
            ],
            [
                "25d084cb.d74a2c"
            ]
        ]
    },
    {
        "id": "ccf3ceae.6b1f8",
        "type": "function",
        "z": "a6941e78.e5a6b",
        "name": "Save vbatt1",
        "func": "flow.set(\"vbatt1\", msg.payload[0]);\nreturn msg;\n",
        "outputs": 0,
        "noerr": 0,
        "x": 1230,
        "y": 1160,
        "wires": []
    },
    {
        "id": "7f8ad6ce.d3f648",
        "type": "modbus-flex-write",
        "z": "a6941e78.e5a6b",
        "name": "",
        "showStatusActivities": false,
        "showErrors": false,
        "server": "2b92a888.1890a8",
        "x": 1010,
        "y": 1220,
        "wires": [
            [],
            [
                "7f226a4b.710864"
            ]
        ]
    },
    {
        "id": "25d084cb.d74a2c",
        "type": "function",
        "z": "a6941e78.e5a6b",
        "name": "FC 6:  set  Iout2",
        "func": "msg.payload = { 'value': 300, 'fc': 6, 'unitid': 1, 'address': 9 , 'quantity': 1 };\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 740,
        "y": 1220,
        "wires": [
            [
                "7f8ad6ce.d3f648"
            ]
        ]
    },
    {
        "id": "7f226a4b.710864",
        "type": "delay",
        "z": "a6941e78.e5a6b",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 1220,
        "y": 1220,
        "wires": [
            [
                "c2ff6f30.585a3"
            ]
        ]
    },
    {
        "id": "c2ff6f30.585a3",
        "type": "function",
        "z": "a6941e78.e5a6b",
        "name": "FC3: get Vbatt2",
        "func": "msg.payload = { 'fc': 3, 'unitid': 1, 'address':33, 'quantity': 1 }\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 740,
        "y": 1280,
        "wires": [
            [
                "ddda26c0.312098"
            ]
        ]
    },
    {
        "id": "ddda26c0.312098",
        "type": "modbus-flex-getter",
        "z": "a6941e78.e5a6b",
        "name": "",
        "showStatusActivities": false,
        "showErrors": false,
        "logIOActivities": false,
        "server": "2b92a888.1890a8",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "x": 1010,
        "y": 1280,
        "wires": [
            [
                "38e1c650.501e6a"
            ],
            [
                "3cf3442d.4480dc"
            ]
        ]
    },
    {
        "id": "38e1c650.501e6a",
        "type": "function",
        "z": "a6941e78.e5a6b",
        "name": "elaboration ri",
        "func": "var xr = (msg.payload[0] - flow.get(\"vbatt1\"))/0.02;\nflow.set(\"ri\", xr);\nmsg.payload = [msg.payload[0], flow.get(\"vbatt1\"), xr, flow.get(\"abatt\") ]; \nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 1230,
        "y": 1280,
        "wires": [
            [
                "cbba0bb8.664138"
            ]
        ]
    },
    {
        "id": "1df754f.2949eab",
        "type": "modbus-flex-write",
        "z": "a6941e78.e5a6b",
        "name": "",
        "showStatusActivities": false,
        "showErrors": false,
        "server": "2b92a888.1890a8",
        "x": 1010,
        "y": 1340,
        "wires": [
            [],
            [
                "82078c18.d972a"
            ]
        ]
    },
    {
        "id": "3cf3442d.4480dc",
        "type": "function",
        "z": "a6941e78.e5a6b",
        "name": "FC 6:  restores Iset",
        "func": "msg.payload = { 'value': flow.get(\"iset\"), 'fc': 6, 'unitid': 1, 'address': 9 , 'quantity': 1 };\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 750,
        "y": 1340,
        "wires": [
            [
                "1df754f.2949eab"
            ]
        ]
    },
    {
        "id": "cbba0bb8.664138",
        "type": "debug",
        "z": "a6941e78.e5a6b",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 1450,
        "y": 1260,
        "wires": []
    },
    {
        "id": "c7217d6.b8b228",
        "type": "comment",
        "z": "a6941e78.e5a6b",
        "name": "START stuff",
        "info": "",
        "x": 990,
        "y": 840,
        "wires": []
    },
    {
        "id": "26e3e830.76d998",
        "type": "mysql",
        "z": "a6941e78.e5a6b",
        "mydb": "87c6018f.346ab",
        "name": "send record",
        "x": 990,
        "y": 1400,
        "wires": [
            [
                "4b16ac64.b58414"
            ]
        ]
    },
    {
        "id": "82078c18.d972a",
        "type": "function",
        "z": "a6941e78.e5a6b",
        "name": "query: new record",
        "func": "Date.prototype.yyyymmdd = function() {\n  var yyyy = this.getFullYear();\n  var mm = this.getMonth() < 9 ? \"0\" + (this.getMonth() + 1) : (this.getMonth() + 1); // getMonth() is zero-based\n  var dd = this.getDate() < 10 ? \"0\" + this.getDate() : this.getDate();\n  return \"\".concat(yyyy).concat(mm).concat(dd);\n};\n\nDate.prototype.yyyymmddhhmm = function() {\n  var yyyymmdd = this.yyyymmdd();\n  var hh = this.getHours() < 10 ? \"0\" + this.getHours() : this.getHours();\n  var min = this.getMinutes() < 10 ? \"0\" + this.getMinutes() : this.getMinutes();\n  return \"\".concat(yyyymmdd).concat(hh).concat(min);\n};\n\nvar ts = \"B\"+(new Date().yyyymmddhhmm());\nflow.set(\"tbid\", ts);\nmsg.topic = \"INSERT INTO batteries.battery \";  \n// msg.topic += \"( `timestamp`, `description`, `capacity`, `force`, `r_intern`, `i_charge`)\";\nmsg.topic += \"VALUES ( '\"+ts+\"','\"+flow.get(\"btype\")+\"','\"+flow.get(\"bcap\");\nmsg.topic += \"','\"+flow.get(\"icap\")+\"','\"+flow.get(\"ri\")+\"','\"+flow.get(\"iset\")/1000+\"','\"+flow.get(\"vset\")/100+\"', null, null );\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 750,
        "y": 1400,
        "wires": [
            [
                "26e3e830.76d998"
            ]
        ]
    },
    {
        "id": "283f093b.9b2b06",
        "type": "modbus-flex-write",
        "z": "a6941e78.e5a6b",
        "name": "",
        "showStatusActivities": false,
        "showErrors": false,
        "server": "2b92a888.1890a8",
        "x": 930,
        "y": 1600,
        "wires": [
            [],
            [
                "84071f13.827bd"
            ]
        ]
    },
    {
        "id": "4b16ac64.b58414",
        "type": "function",
        "z": "a6941e78.e5a6b",
        "name": "query: new table",
        "func": "msg.topic = \"CREATE TABLE `batteries`.`\"+flow.get(\"tbid\")+\"` (\";\nmsg.topic += \"`time` INT NOT NULL ,\";\nmsg.topic += \"`v` DECIMAL( 10, 3 ) NOT NULL ,\";\nmsg.topic += \"`i` DECIMAL( 10, 3 ) NOT NULL ,\";\nmsg.topic += \"`t` INT NOT NULL ,\";\nmsg.topic += \"`ah` DECIMAL( 10, 3 ) NOT NULL ,\";\nmsg.topic += \"PRIMARY KEY ( `time` )\";\nmsg.topic += \") ENGINE = INNODB;\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1240,
        "y": 1400,
        "wires": [
            [
                "44068d38.a0ab34"
            ]
        ]
    },
    {
        "id": "44068d38.a0ab34",
        "type": "mysql",
        "z": "a6941e78.e5a6b",
        "mydb": "87c6018f.346ab",
        "name": "",
        "x": 1440,
        "y": 1500,
        "wires": [
            []
        ]
    },
    {
        "id": "7700ceb5.551eb",
        "type": "switch",
        "z": "a6941e78.e5a6b",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "SLOW",
                "vt": "str"
            },
            {
                "t": "neq",
                "v": "SLOW",
                "vt": "str"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 330,
        "y": 100,
        "wires": [
            [
                "eb00b8be.a10588"
            ],
            [
                "b8d674c6.b95a38"
            ]
        ]
    },
    {
        "id": "b8d674c6.b95a38",
        "type": "config",
        "z": "a6941e78.e5a6b",
        "name": "FAST config",
        "properties": [
            {
                "p": "vset",
                "pt": "flow",
                "to": "300",
                "tot": "num"
            },
            {
                "p": "tmax",
                "pt": "flow",
                "to": "40",
                "tot": "num"
            },
            {
                "p": "smart",
                "pt": "flow",
                "to": "1",
                "tot": "num"
            },
            {
                "p": "timemax",
                "pt": "flow",
                "to": "14400",
                "tot": "str"
            }
        ],
        "active": true,
        "x": 550,
        "y": 140,
        "wires": []
    },
    {
        "id": "1ded90ea.f1238f",
        "type": "inject",
        "z": "a6941e78.e5a6b",
        "name": "time update",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "0.98",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "x": 130,
        "y": 160,
        "wires": [
            [
                "fd8856da.567148"
            ]
        ]
    },
    {
        "id": "1ffca897.575d37",
        "type": "comment",
        "z": "a6941e78.e5a6b",
        "name": "Mysql commands",
        "info": "loop to store a record every 5 sec.",
        "x": 100,
        "y": 1420,
        "wires": []
    },
    {
        "id": "c04b9c0c.bb2d4",
        "type": "mysql",
        "z": "a6941e78.e5a6b",
        "mydb": "87c6018f.346ab",
        "name": "update record",
        "x": 1360,
        "y": 1600,
        "wires": [
            []
        ]
    },
    {
        "id": "84071f13.827bd",
        "type": "function",
        "z": "a6941e78.e5a6b",
        "name": "query:  close",
        "func": "var rid = flow.get(\"tbid\");\nvar etime = flow.get(\"cmin\") + \":\"+ flow.get(\"csec\");\n\nmsg.topic = \"UPDATE `batteries`.`battery` SET\";\nmsg.topic +=\" `e_time` = '\"+etime+\"',\";\nmsg.topic +=\" `ah` = '\"+flow.get(\"ahbatt\")+\"' \";\nmsg.topic +=\" WHERE `battery`.`file` = '\"+ rid+\"' \";\nmsg.topic +=\" LIMIT 1\" ;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1150,
        "y": 1600,
        "wires": [
            [
                "c04b9c0c.bb2d4"
            ]
        ]
    },
    {
        "id": "9b5f7a44.4e0f48",
        "type": "inject",
        "z": "a6941e78.e5a6b",
        "name": "Mysql data loop",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "5",
        "crontab": "",
        "once": true,
        "onceDelay": "3",
        "x": 150,
        "y": 1500,
        "wires": [
            [
                "ee912cff.e1cc3"
            ]
        ]
    },
    {
        "id": "ee912cff.e1cc3",
        "type": "function",
        "z": "a6941e78.e5a6b",
        "name": "query: new record",
        "func": "if (flow.get(\"run\")==1) {\nvar rid = flow.get(\"tbid\");\nmsg.topic = \"INSERT INTO `batteries`.`\"+rid+\"`  \";  \nmsg.topic += \"VALUES ( '\"+flow.get(\"esect\").toFixed(0)+\"','\"+flow.get(\"vbatt\").toFixed(3)+\"','\"+flow.get(\"abatt\").toFixed(3);\nmsg.topic += \"','\"+flow.get(\"tbatt\").toFixed(0)+\"','\"+flow.get(\"ahbatt\").toFixed(3)+\"');\";\nreturn msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "x": 710,
        "y": 1500,
        "wires": [
            [
                "44068d38.a0ab34"
            ]
        ]
    },
    {
        "id": "2b92a888.1890a8",
        "type": "modbus-client",
        "z": "",
        "name": "RD6006",
        "clienttype": "simpleser",
        "bufferCommands": false,
        "stateLogEnabled": false,
        "tcpHost": "127.0.0.1",
        "tcpPort": "14502",
        "tcpType": "DEFAULT",
        "serialPort": "COM10",
        "serialType": "RTU-BUFFERD",
        "serialBaudrate": "115200",
        "serialDatabits": "8",
        "serialStopbits": "1",
        "serialParity": "none",
        "serialConnectionDelay": "100",
        "unit_id": "1",
        "commandDelay": "1",
        "clientTimeout": "1500",
        "reconnectOnTimeout": true,
        "reconnectTimeout": "3000",
        "parallelUnitIdsAllowed": false
    },
    {
        "id": "3b92f60b.0be03a",
        "type": "ui_group",
        "z": "",
        "name": "rtdata",
        "tab": "57266144.dd882",
        "order": 1,
        "disp": false,
        "width": "8"
    },
    {
        "id": "ae99da26.9b2e78",
        "type": "ui_group",
        "z": "",
        "name": "main",
        "tab": "57266144.dd882",
        "order": 3,
        "disp": false,
        "width": "8"
    },
    {
        "id": "89f6f9eb.df45b8",
        "type": "ui_group",
        "z": "",
        "name": "Group 2",
        "tab": "57266144.dd882",
        "order": 2,
        "disp": false,
        "width": "8"
    },
    {
        "id": "87c6018f.346ab",
        "type": "MySQLdatabase",
        "z": "",
        "host": "127.0.0.1",
        "port": "3306",
        "db": "batteries",
        "tz": "+1"
    },
    {
        "id": "57266144.dd882",
        "type": "ui_tab",
        "z": "",
        "name": "NiMH charger",
        "icon": "dashboard",
        "order": 3
    }
]